.footer {
  width: 100%;
  /* height: 950px; */
  background: var(--color-footer);
  text-align: center;
  margin: 0;
}
.footer h2 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */

  text-align: center;
  letter-spacing: -0.04em;
}
.footer button {
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.footer .containt {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containt img {
  width: 118px;
  height: 30px;
  margin-bottom: 1.5rem;
}
.containt p {
  font-size: 12px;
  line-height: 14px;
  width: 168px;
}

.containt h5 {
  margin-bottom: 1.5rem;
  font-size: 14px;
  line-height: 16px;
}
.containt ul li {
  margin-bottom: 1.5rem;
  font-size: 12px;
  line-height: 14px;
}
.containt ul li:hover {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
